export(constants)
exportPattern("^[[:alpha:]]+")

importFrom("magrittr", `%>%`)

# Libraries.
import("progress")
import("uuid")
import("R6")

import("DBI")
import("RPostgreSQL")
import("pool")

# Data frames
import("dplyr")
import("tibble")

importFrom("dplyr", `slice`)
importFrom("dplyr", `row_number`)

# Data manipulation
import("zoo")
# import("xts")

# Data wrangling
import("tidyr")
import("stringr")
# import("purrr")

# Dates
import("lubridate")

# Charts
import("ggplot2")
# import("ggfortify")

# Specifics
import("TTR")
import("rugarch")
